.absolute {
  position: absolute
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto
}

.mt-7 {
  margin-top: 1.75rem
}

.flex {
  display: flex
}

.h-2\/5 {
  height: 40%
}

.h-12 {
  height: 3rem
}

.w-80 {
  width: 20rem
}

.w-3\/4 {
  width: 75%
}

.rounded-3xl {
  border-radius: 1.5rem
}

.rounded-2xl {
  border-radius: 1rem
}

.bg-\[\#b4e197\] {
  --tw-bg-opacity: 1;
  background-color: rgb(180 225 151 / var(--tw-bg-opacity))
}

.bg-\[\#f3f3f3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 243 243 / var(--tw-bg-opacity))
}

.bg-\[\#e9efc0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(233 239 192 / var(--tw-bg-opacity))
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.pb-8 {
  padding-bottom: 2rem
}

.text-center {
  text-align: center
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.text-\[\#4e944f\] {
  --tw-text-opacity: 1;
  color: rgb(78 148 79 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}
